@using ERP_System_Menagment_Core.IServices
@using ERP_System_Menagment_Core.ModelView.SaleModels
@using ERP_System_Menagment_Core.Services
@using ERP_System_Menagment_Infrastuctor.Data.Models
@model CreateSaleViewModel




<script src="/js/SaleFunction/NewLine.js"></script>
<script src="/js/SaleFunction/AllProduct.js"></script>
<script src="/js/SaleFunction/SumField.js"></script>
<script src="/js/SaleFunction/AutocompleteAjax.js"></script>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>



<style>

    body {
        background: rgb(4,4,246);
        background: linear-gradient(360deg, rgba(4,4,246,0.24086131034445024) 0%, rgba(4,214,249,0.9327380610447304) 10%);
    }


    #amount {
        display: flex;
        justify-content: space-between;
    }

        #amount .Allsum {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 50px;
            position: relative;
            top: 70px;
        }

    .option button {
        padding: 20px 30px;
        display: inline;
        border-radius: 6px;
        margin: 5px;
    }

        .option button i {
            margin: 10px;
            padding-bottom: 5px;
            display: block;
            margin-bottom: 10px;
        }

    .fa-sack-dollar {
        color: forestgreen;
    }

    .fa-credit-card {
        color: deepskyblue;
    }

    #first {
        width: 300px;
    }

    input {
        width: 322px;
    }

    .container {
        margin-left: 210px;
    }

    .prod {
        margin-top: 20px;
    }

    aside {
        position: absolute;
        left: 0px;
        width: 210px;
        top: 70px;
        border-right: 2px solid gray;
    }

        aside ul {
            padding-left: 0px;
            width: 200px;
        }

            aside ul li {
                list-style: none;
            }

    #getAll {
        padding: 3px 15px;
        border-radius: 6px;
        position: absolute;
        top: 240px;
    }

    #element {
        display: flex;
        flex-wrap: nowrap;
    }


    #result {
        border-radius: 4px;
        overflow: hidden;
    }

        #result td {
            border: 1px solid black;
            padding: 5px 90px;
            text-align: start;
        }

        #result button {
            padding: 8px;
            background-color: red;
            color: white;
            border: 1px solid white;
        }

    .ui-autocomplete {
        margin: 0;
        padding: 0;
        list-style-type: none;
        border: solid 1px #ccc;
        background-color: #fff;
        width: 500px;
    }

    *

    .ui-autocomplete li {
        font-family: Arial, Verdana, Sans-Serif;
        margin: 1px;
        cursor: pointer;
        display: block;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.428571429;
    }

    .ui-autocomplete .ui-state-focus {
        background-color: gray;
    }


    .ui-helper-hidden-accessible {
        display: none;
    }

</style>


<div class="sale">
    <div id="amount">
        <div class="option">
            <h3>
                Method of payment
            </h3>
            <button id="payment"><i class="fa-solid fa-sack-dollar fa-2xl"></i>Cash</button>
            <button id="pos"><i class="fa-regular fa-credit-card fa-2xl"></i>Pos</button>
        </div>


        <h3 class="Allsum">Sum:0.00lv.</h3>
    </div>
    <hr />
    <aside>

        <button asp-area="" asp-controller="Client" asp-action="AllClients" onclick="SetClient()">Choice Client to Invoice</button>

        <div hidden>
            <p>Firm Name:</p>
            <p>Register Number:</p>
            <p>Address</p>
            <p>PhoneNumber:</p>
            <p>AccountablePerson:</p>
        </div>

        <ul>
            <li><a asp-area="" asp-controller="Invoice" asp-action="CreateInvoice">Create Invoice</a></li>
            <li><a href="#">Bank payment</a></li>
            <li><a asp-area="" asp-controller="Product" asp-action="AllProducts">Stock report</a></li>
        </ul>

        <hr />
        <h4>Your Invoice data</h4>
        <ul>
            <li>Gladierte EOOD</li>
            <li>Bulstat: 2021165887954441</li>
            <li>Mol.- Sergio Tores</li>
            <li>Town: Pleven</li>
            <li>Address: st.North Valden 39</li>
        </ul>
        <hr />
        <h5>Sum of Product in warehouse: 12598.28lv.</h5>
        <hr />
        <h5>Daily turnover: 1200.26lv</h5>
    </aside>
    <div class="prod">

      
        <table id="productsTable">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
            </thead>
           
            <tbody id="productBody">
                
                <tr>
                    <td><input type="text" class="product" onkeypress="autoField()"></td>
                    <td><input type="number" class="quantity"></td>
                    <td><input type="number" class="price" onkeypress="calculateTotal()"></td>
                    <td><input type="text" class="total" onkeypress="addNewRow()"></td>
                </tr>
            </tbody>
        </table>

        

    </div>
</div>


@section Scripts {
    <script type="text/javascript">
        $(function () {
           
            $('#productBody').on('change', 'input', function () {
                calculateTotal();
            });
        });
        function addNewRow() {
            $('#productBody').append(`
                <tr>
                    <td><input type="text" class="product" onkeypress="autoField()"></td>
                    <td><input type="number" class="quantity" value="0" ></td>
                    <td><input type="number" class="price" value="0.00" onkeypress="calculateTotal()"></td>
                    <td><input type="text" class="total" value="0.00"  onkeypress="addNewRow()"></td>
                </tr>
            `);
        }
        function calculateTotal() {
            let total = 0;
            $('#productBody tr').each(function () {
                const quantity = parseFloat($(this).find('.quantity').val()) || 0;
                const price = parseFloat($(this).find('.price').val()) || 0;
                const rowTotal = quantity * price;
                $(this).find('.total').val(rowTotal.toFixed(2));
                total += rowTotal;
            });
            $('.Allsum').text(`Sum: ${total.toFixed(2)}lv.`);
        }
    </script>
}