@using ERP_System_Menagment_Core.ModelView.ProductVievModel;
@model IEnumerable<ProductViewModel>


<link rel="stylesheet" href="~/css/ClientsStyle/Clients.css" asp-append-version="true" />


@foreach (var item in Model)
{

    <table>
        <tr>
            <th>Product Name</th>
            <th>Product Quantity</th>
            <th>Product Sell Price</th>
            <th>Product Good Price</th>
            <th>Product options</th>
        </tr>

        <tr>
            <td>@item.Name</td>
            <td>@item.Quantity</td>
            <td>@item.SalePrice</td>
            <td>@item.GoodPrice</td>
            <td><button class="btn" >Edit</button></td>
            <td><button class="btn">Delete</button></td>
        </tr>

    </table>
}

