

<nav>
    <button class="btn-primary btn-primary">Cash payment</button>
    <button class="btn-primary btn-primary">Pos payment</button>

    <h4>Sum: 0.00</h4>
</nav>

<body>

    <table>


    </table>

</body>
