@using ERP_System_Menagment_Core.ModelView.ProductVievModel
@model ProductViewModel

<style>

    body{
        background: rgb(66,177,227);
        background: linear-gradient(360deg, rgba(66,177,227,0.8346988453584558) 29%, rgba(13,98,171,0.207247864966299) 92%);
    }


    #formCreate {
        width:450px;
    }

    .discription{
        width:350px;
        height:200px;
        position:absolute;
        left:900px;
        top:100px;
        border: 1px solid black;
        border-radius:4px;
        padding:10px;
        font-family:Arial, Helvetica, sans-serif;
        font-style:italic;
    }

</style>




@using (Html.BeginForm("CreateProducts", "Product", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div id="formCreate">
        <div class="mb-3">
            <label asp-for="Name" class="form-label">Name</label>
            <input asp-for="Name" class="form-control" aria-required="true" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Quantity" class="form-label">Quantity</label>
            <input asp-for="Quantity" class="form-control" aria-required="true" />
            <span asp-validation-for="Quantity" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="SalePrice" class="form-label">Sale Price</label>
            <input asp-for="SalePrice" class="form-control" aria-required="true"/>
            <span asp-validation-for="SalePrice" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="GoodPrice" class="form-label">Good Price</label>
            <input asp-for="GoodPrice" class="form-control" aria-required="true"/>
            <span asp-validation-for="GoodPrice" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary"> Create Product</button>
    </div>
}
<div class="discription">

    <h4>To add a product</h4>
    <p>
         You must enter valid data 
        - product name, quantity, selling price, delivery price.
    </p>
</div>